Options +FollowSymLinks
RewriteEngine on

RewriteRule ^data/21$ https://www.vai.be/en/project/brugse-poort-neighbourhood-health-centre [R=302,NC,NE,L]
RewriteRule ^data/22$ https://www.vai.be/en/project/k-in-kortrijk-shopping-centre [R=302,NC,NE,L]
RewriteRule ^representation/22$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p109_0.jpg [R=302,NC,NE,L]
