Options +FollowSymLinks
RewriteEngine on

RewriteRule ^data/123$ http://www.dns.be [R=302,NC,NE,L]
RewriteRule ^data/389$ http://mskgent.be/collection/work/data/2005-T [R=302,NC,NE,L]
RewriteRule ^representation/389$ http://mskgent.be/collection/work/representation/2005-T [R=302,NC,NE,L]
RewriteRule ^data/404$ http://mskgent.be/collection/work/data/1881-H [R=302,NC,NE,L]
RewriteRule ^representation/404$ http://mskgent.be/collection/work/representation/1881-H [R=302,NC,NE,L]
RewriteRule ^data/541$ http://mskgent.be/collection/work/data/1880-K [R=302,NC,NE,L]
RewriteRule ^representation/541$ http://mskgent.be/collection/work/representation/1880-K [R=302,NC,NE,L]
RewriteRule ^data/759$ http://www.kmska.be/collection/work/data/1104 [R=302,NC,NE,L]
RewriteRule ^representation/759$ http://www.kmska.be/collection/work/representation/1104 [R=302,NC,NE,L]
RewriteRule ^data/1047$ http://mskgent.be/collection/work/data/1894-B [R=302,NC,NE,L]
RewriteRule ^representation/1047$ http://mskgent.be/collection/work/representation/1894-B [R=302,NC,NE,L]
RewriteRule ^data/1208$ http://mskgent.be/collection/work/data/1903-P [R=302,NC,NE,L]
RewriteRule ^representation/1208$ http://mskgent.be/collection/work/representation/1903-P [R=302,NC,NE,L]
RewriteRule ^data/1216$ http://mskgent.be/collection/work/data/1904-X [R=302,NC,NE,L]
RewriteRule ^representation/1216$ http://mskgent.be/collection/work/representation/1904-X [R=302,NC,NE,L]
RewriteRule ^data/1367$ http://mskgent.be/collection/work/data/1902-P [R=302,NC,NE,L]
RewriteRule ^representation/1367$ http://mskgent.be/collection/work/representation/1902-P [R=302,NC,NE,L]
RewriteRule ^data/1371$ http://mskgent.be/collection/work/data/1902-L [R=302,NC,NE,L]
RewriteRule ^representation/1371$ http://mskgent.be/collection/work/representation/1902-L [R=302,NC,NE,L]
RewriteRule ^data/1410$ http://mskgent.be/collection/work/data/1903-O [R=302,NC,NE,L]
RewriteRule ^representation/1410$ http://mskgent.be/collection/work/representation/1903-O [R=302,NC,NE,L]
RewriteRule ^data/1449$ http://mskgent.be/collection/work/data/1921-EM [R=302,NC,NE,L]
RewriteRule ^representation/1449$ http://mskgent.be/collection/work/representation/1921-EM [R=302,NC,NE,L]
RewriteRule ^data/1483$ http://mskgent.be/collection/work/data/1906-M [R=302,NC,NE,L]
RewriteRule ^representation/1483$ http://mskgent.be/collection/work/representation/1906-M [R=302,NC,NE,L]
RewriteRule ^data/1492$ http://mskgent.be/collection/work/data/1906-GG [R=302,NC,NE,L]
RewriteRule ^representation/1492$ http://mskgent.be/collection/work/representation/1906-GG [R=302,NC,NE,L]
RewriteRule ^data/1493$ http://mskgent.be/collection/work/data/1906-S [R=302,NC,NE,L]
RewriteRule ^representation/1493$ http://mskgent.be/collection/work/representation/1906-S [R=302,NC,NE,L]
RewriteRule ^data/1494$ http://mskgent.be/collection/work/data/1906-K [R=302,NC,NE,L]
RewriteRule ^representation/1494$ http://mskgent.be/collection/work/representation/1906-K [R=302,NC,NE,L]
RewriteRule ^data/1495$ http://mskgent.be/collection/work/data/1906-I [R=302,NC,NE,L]
RewriteRule ^representation/1495$ http://mskgent.be/collection/work/representation/1906-I [R=302,NC,NE,L]
RewriteRule ^data/1503$ http://mskgent.be/collection/work/data/1906-L [R=302,NC,NE,L]
RewriteRule ^representation/1503$ http://mskgent.be/collection/work/representation/1906-L [R=302,NC,NE,L]
RewriteRule ^data/1504$ http://mskgent.be/collection/work/data/1906-U [R=302,NC,NE,L]
RewriteRule ^representation/1504$ http://mskgent.be/collection/work/representation/1906-U [R=302,NC,NE,L]
RewriteRule ^data/1506$ http://mskgent.be/collection/work/data/1906-N [R=302,NC,NE,L]
RewriteRule ^representation/1506$ http://mskgent.be/collection/work/representation/1906-N [R=302,NC,NE,L]
